<h1>Artists</h1>
<h4>You are currently searching: {{ currentSearch }}</h4>
<form-filter 
    [text]="artist" 
    (search)="searchArtists($event)">
</form-filter>


<div class="row">
    <div class="displayArtist" 
        *ngFor="let artist of artists">
        <img 
            [src]="!!artist.images[0]?.url ? artist.images[0].url : './assets/noImg.jpg'" 
            class="images" 
            (click)="searchArtist(artist.id)">
        <div>
            <h4 class="bandName">{{ artist.name }}</h4>
        </div>
    </div>
</div>

