<div class="top">
    <img 
        [src]="'./assets/logo.jpg'"
        class="logo"
        (click)="goHome()">
    <form-filter
        class="searchInput"
        (search)="searchArtists($event)">
    </form-filter>
</div>
<div class="bandPresentation" *ngIf="album">
    <div class="bandContent">
        <img 
            [src]="album.images[0].url"
            class="bandImage">
        <h2 class="bandInfo">
            {{ album.name }}
        </h2>
        <h4>
            {{ album.artists[0].name }} - {{ album.release_date | date:'shortDate' }}
        </h4>
        <label>Order by duration:</label>
        <select (change)="orderByDuration($event.target.value)">
            <option value=1>major</option>
            <option value=2>minor</option>
        </select>
    </div>
</div>
<div *ngIf="album" class="bandPresentation">
    <table>
        <tr>
            <th>Cd</th>
        </tr>
        <tr *ngFor="let track of album.tracks.items">
            <td>
                <span
                    (click)="playTrack(track)">{{ track.name }}
                </span>
                <span *ngIf="!track.preview_url">(This track has no preview)</span>
                <i [ngClass]="favorite.includes(track.id) ? 'fas fa-star align tooltip' : 'far fa-star align tooltip' " 
                   (click)="addFavorite(track.id)"> 
                   <span class="tooltiptext"
                        *ngIf="!favorite.includes(track.id)">
                       Add to Favorites
                   </span>
                   <span class="tooltiptext"
                        *ngIf="favorite.includes(track.id)">
                       Remove from Favorites
                   </span>
                </i>
            </td>
        </tr>
    </table>
</div>