.logo{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    display: inline;
    border-radius: 50%;
}

.logo:hover {
    cursor: pointer;
}

.searchInput {
    float: right;
    width: 80%;
    margin-top: 10px;
}

.top {
    display: block;
    border: 2px solid black;
    margin-bottom: 0.03%;
}

.bandPresentation {
    display: block;
    border: 2px solid black;
    overflow: hidden;
}

.bandContent {
    margin: 3% 0% 3% 14%;
    overflow:hidden;
}

.bandInfo {
    display: inline;
    margin-left: 10px;
}

.bandImage {
    height: 120px;
    display: inline;
    float: left;
}

h4 {
    margin-left: 130px;
}


table {
    width:70%;
    margin: 2% 0% 2% 14%;
    opacity: 0.6;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
   background-color: #fff;
}

table th {
    background-color: black;
    color: white;
}

span {
    cursor: pointer;
}

.align { 
    right: 26%;
    position: absolute;
    cursor: pointer;
}


.tooltip {
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

select, label {
    display: inline;
    margin-left: 1%;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 500px) and (max-width: 955px) {
    .bandPresentation {
        width: 100%;
        overflow: visible;
    }
    .searchInput {
        margin-top: 0px;
    }
    .invisible { 
        opacity: 1;
        visibility: visible;
        display: inline;
        margin-left: 67%;
        position: absolute;
        margin-top: 2%;
        cursor: pointer;
    }
    .searchInput {
        display: none;
        position: absolute;
        margin-left: 5%;
    }
}

@media (min-width: 580px) and (max-width: 629px) {
    .invisible { 
        margin-top: 1.5%;
        margin-left: 69%;
    }
}
@media (min-width: 630px) and (max-width: 684px) {
    .invisible { 
        margin-top: 1%;
        margin-left: 71%;
    }
}
@media (min-width: 684px) and (max-width: 750px) {
    .invisible { 
        margin-top: 0.5%;
        margin-left: 72.5%;
    }
}
@media (min-width: 751px) and (max-width: 800px) {
    .invisible { 
        margin-top: 0.5%;
        margin-left: 74%;
    }
}
@media (min-width: 801px) and (max-width: 850px) {
    .invisible { 
        margin-top: 0.2%;
        margin-left: 75%;
    }
}
@media (min-width: 851px) and (max-width: 900px) {
    .invisible { 
        margin-top: 0.2%;
        margin-left: 76%;
    }
}
@media (min-width: 901px) and (max-width: 955px) {
    .invisible { 
        margin-top: 0.2%;
        margin-left: 77%;
    }
}