.displayTrack {
    width: 46%;
    float: left;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 10px 0px 15px 30px;
    border: 1px solid;
    word-wrap: break-word;
}

.images{
    height: 160px;
    width: 160px;
    border: 3px solid #ececec;
    margin: 10px 10px 10px 10px;
    display: inline;
    float: left;
}

.images:hover {
    cursor: pointer;
}

.responsive-text:before {
    content: attr(data-desktoptext);
}

@media (min-width: 500px) and (max-width: 865px){
    .responsive-text:before {
        content: attr(data-phonetext);
    }

    .displayTrack {
        width: 90%;
        float: left;
        overflow:hidden;
        text-overflow: ellipsis;
        margin: 10px 0px 15px 30px;
        border: 1px solid;
        word-wrap: break-word;
    }
}