.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 6px dashed #e45343;
}

.forImage {
    width: 36%;
    padding: 1%;
    border: 6px solid #ececec;
}



.track {
    color: black;
    font-size: 3vh;
    line-height: 105%;
    cursor: pointer;
}

.tracks-list {
    width: 64%;
    float: right;
    text-align: right;
    margin-right: 0px;
    font-style: italic;
}

.display-album {
    width: 100%;
}